#stylish_cover_image .inside img {
	max-width: 100%;
	height: auto;
	width: auto;
}

.vc_checkbox-label {
	display: block;
	margin-bottom: 5px;
}

.input-group {
	margin-bottom: 10px;
}

.input-group::after {
	content: "";
	display: table;
	clear: both;
}

.input-group .label,
.input-group .input {
	display: inline-block;
	vertical-align: top;
}

.input-group .label {
	width: 24%;
}

.input-group .input {
	width: 75%;
}